LisServiceClients/Service References/EMIAS_Dictionaries/LaboratoryNsiServiceTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns2="http://emias.gov.ru/types/1" xmlns:ns1="http://emias.gov.ru/CUI/LaboratoryTypes/1" xmlns:cst="http://emias.gov.ru/servicetypes/1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://emias.gov.ru/CUI/LaboratoryTypes/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="commonServiceTypes.xsd" namespace="http://emias.gov.ru/servicetypes/1" />
  <xs:import schemaLocation="emiasTypes.xsd" namespace="http://emias.gov.ru/types/1" />
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ????</xs:documentation>
  </xs:annotation>
  <xs:element name="getLiRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="ns1:li">
          <xs:annotation>
            <xs:documentation>????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getTestsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTestsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="test" type="ns1:test">
          <xs:annotation>
            <xs:documentation>????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ???????????? ????-????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getLiTestsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????? ????-????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiTestsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ???????????? ????-????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="liTest" type="ns1:liTest">
          <xs:annotation>
            <xs:documentation>?????????? ????-????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ??????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getLocusRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocusResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="locus" type="ns1:locus">
          <xs:annotation>
            <xs:documentation>??????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ?????????????? ???????????? ??????????????????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getTakeBiomatherialMethodsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTakeBiomatherialMethodsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ?????????????????? ???????????? ?????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="takeMethod" type="ns1:takeBiomaterialMethod">
          <xs:annotation>
            <xs:documentation>?????????? ????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ??????????????????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getBiomatetialsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBiomatetialsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="biomaterial" type="ns1:biomaterial">
          <xs:annotation>
            <xs:documentation>??????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ?????????????????? ????????????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getVialsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVialsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ?????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="vial" type="ns1:vial">
          <xs:annotation>
            <xs:documentation>?????????????????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ???????????? ??????????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getUnitsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnitsResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ???????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="unit" type="ns1:unit">
          <xs:annotation>
            <xs:documentation>?????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>?????????????????? ???????????? ???????????????????????????????????? ????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="getAnthropometricDataRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModified" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>???????? ?? ?????????? ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnthropometricDataResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????????? ???????????? ???????????????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="anthropometricData" type="ns1:anthropometricData">
          <xs:annotation>
            <xs:documentation>???????????????????????????????????? ????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>???????????? ????????????</xs:documentation>
  </xs:annotation>
  <xs:element name="fault" type="cst:errorType">
    <xs:annotation>
      <xs:documentation>???????????????? ????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>-----------------------------------------------------------------------------------
        </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>???????? ????????????</xs:documentation>
  </xs:annotation>
  <xs:complexType name="anthropometricData">
    <xs:annotation>
      <xs:documentation>???????????????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biomaterial">
    <xs:annotation>
      <xs:documentation>??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hl7Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? HL7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="li">
    <xs:annotation>
      <xs:documentation>???????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="ns2:emiasIdType">
        <xs:annotation>
          <xs:documentation>???? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???? ???? ?????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="omsCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???? ???? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="parentLiCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>???? ?????????????????????????? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="liTest">
    <xs:annotation>
      <xs:documentation>?????????? ????-????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="liId" type="ns2:emiasIdType">
        <xs:annotation>
          <xs:documentation>???? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="testId" type="ns2:emiasIdType">
        <xs:annotation>
          <xs:documentation>???? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isRequired" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????????????????? ?????????? ?? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="locus">
    <xs:annotation>
      <xs:documentation>??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="takeBiomaterialMethod">
    <xs:annotation>
      <xs:documentation>?????????? ???????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????? ???????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="test">
    <xs:annotation>
      <xs:documentation>???????? ?? ???????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ???? ?????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="mnemonicCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isValid" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unit">
    <xs:annotation>
      <xs:documentation>?????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hl7Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? HL7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vial">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hl7Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? HL7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ?? ?????????? ???????????????????? ?????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="urgency" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>