LisServiceClients/Service References/LisServiceReference/LisService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.sportlogic.ru" elementFormDefault="qualified" targetNamespace="http://schemas.sportlogic.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fmba.test.sportlogic.ru/services/LisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportsReference.Facade.Lis" />
  <xs:import schemaLocation="http://fmba.test.sportlogic.ru/services/LisService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SportsReference.Facade.Lis" minOccurs="0" name="query" nillable="true" type="q1:RequestQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SportsReference.Facade.Lis" minOccurs="0" name="GetRequestsResult" nillable="true" type="q2:ArrayOfRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestCodes" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsConfirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SportsReference.Facade.Lis" minOccurs="0" name="data" nillable="true" type="q4:ResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>