LisServiceClients/Service References/EMIAS/LaboratoryResearchResultsProxyService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:hl7="urn:com.sun:encoder-hl7-1.0" targetNamespace="urn:hl7-org:v2xml" jaxb:version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://195.26.187.91:10009/LIS/ProxyService/LaboratoryResearchResultsProxyService?SCHEMA%2FLIS%2FWSDL%2Fsegments" />
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <encoding name="HL7 v2 Encoding" namespace="urn:com.sun:encoder-hl7-1.0" style="hl7encoder-1.0" xmlns="urn:com.sun:encoder" />
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="OML_O21.PATIENT_VISIT.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="PV1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.PATIENT_VISIT" type="OML_O21.PATIENT_VISIT.CONTENT" />
  <xsd:complexType name="OML_O21.INSURANCE.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="IN1" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="IN2" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="IN3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.INSURANCE" type="OML_O21.INSURANCE.CONTENT" />
  <xsd:complexType name="OML_O21.PATIENT.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="PID" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="OML_O21.PATIENT_VISIT" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.PATIENT" type="OML_O21.PATIENT.CONTENT" />
  <xsd:complexType name="OML_O21.TIIMING.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="TQ1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.TIIMING" type="OML_O21.TIIMING.CONTENT" />
  <xsd:complexType name="OML_O21.OBSERVATION.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="OBX" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.OBSERVATION" type="OML_O21.OBSERVATION.CONTENT" />
  <xsd:complexType name="OML_O21.CONTAINER.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="SAC" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.CONTAINER" type="OML_O21.CONTAINER.CONTENT" />
  <xsd:complexType name="OML_O21.SPECIMEN.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="SPM" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OML_O21.CONTAINER" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.SPECIMEN" type="OML_O21.SPECIMEN.CONTENT" />
  <xsd:complexType name="OML_O21.PATIENT_PRIOR.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="PID" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="PD1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.PATIENT_PRIOR" type="OML_O21.PATIENT_PRIOR.CONTENT" />
  <xsd:complexType name="OML_O21.PATIENT_VISIT_PRIOR.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="PV1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.PATIENT_VISIT_PRIOR" type="OML_O21.PATIENT_VISIT_PRIOR.CONTENT" />
  <xsd:complexType name="OML_O21.TIMING_PRIOR.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="TQ1" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="TQ2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.TIMING_PRIOR" type="OML_O21.TIMING_PRIOR.CONTENT" />
  <xsd:complexType name="OML_O21.OBSERVATION_PRIOR.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="OBX" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.OBSERVATION_PRIOR" type="OML_O21.OBSERVATION_PRIOR.CONTENT" />
  <xsd:complexType name="OML_O21.ORDER_PRIOR.CONTENT">
    <xsd:sequence>
      <xsd:element maxOccurs="1" ref="ORC" />
      <xsd:element minOccurs="1" maxOccurs="1" ref="OBR" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="OML_O21.OBSERVATION_PRIOR" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.ORDER_PRIOR" type="OML_O21.ORDER_PRIOR.CONTENT" />
  <xsd:complexType name="OML_O21.PRIOR_RESULT.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" ref="OML_O21.PATIENT_VISIT_PRIOR" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="OML_O21.ORDER_PRIOR" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.PRIOR_RESULT" type="OML_O21.PRIOR_RESULT.CONTENT" />
  <xsd:complexType name="OML_O21.OBSERVATION_REQUEST.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="OBR" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OML_O21.OBSERVATION" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OML_O21.SPECIMEN" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OML_O21.PRIOR_RESULT" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.OBSERVATION_REQUEST" type="OML_O21.OBSERVATION_REQUEST.CONTENT" />
  <xsd:complexType name="OML_O21.ORDER.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="ORC" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OML_O21.TIIMING" />
      <xsd:element maxOccurs="1" ref="OML_O21.OBSERVATION_REQUEST" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21.ORDER" type="OML_O21.ORDER.CONTENT" />
  <xsd:complexType name="OML_O21.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="MSH" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="OML_O21.PATIENT" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="OML_O21.ORDER" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OML_O21" type="OML_O21.CONTENT">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <top xmlns="urn:com.sun:encoder">true</top>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>