LisServiceClients/Service References/EMIAS/LaboratoryResearchResultsProxyService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:hl7="urn:com.sun:encoder-hl7-1.0" targetNamespace="urn:hl7-org:v2xml" jaxb:version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://195.26.187.91:10009/LIS/ProxyService/LaboratoryResearchResultsProxyService?SCHEMA%2FLIS%2FWSDL%2Fsegments" />
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <encoding name="HL7 v2 Encoding" namespace="urn:com.sun:encoder-hl7-1.0" style="hl7encoder-1.0" xmlns="urn:com.sun:encoder" />
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="ORL_O34.TIMING.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="TQ1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.TIMING" type="ORL_O34.TIMING.CONTENT" />
  <xsd:complexType name="ORL_O34.SPMSAC_SUPPGRP2.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="SPM" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="SAC" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.SPMSAC_SUPPGRP2" type="ORL_O34.SPMSAC_SUPPGRP2.CONTENT" />
  <xsd:complexType name="ORL_O34.OBSERVATION_REQUEST.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="OBR" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.OBSERVATION_REQUEST" type="ORL_O34.OBSERVATION_REQUEST.CONTENT" />
  <xsd:complexType name="ORL_O34.ORDER.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="ORC" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ORL_O34.TIMING" />
      <xsd:element maxOccurs="1" ref="ORL_O34.OBSERVATION_REQUEST" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.ORDER" type="ORL_O34.ORDER.CONTENT" />
  <xsd:complexType name="ORL_O34.SPECIMEN.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="SPM" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="SAC" />
      <xsd:element maxOccurs="unbounded" ref="ORL_O34.ORDER" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.SPECIMEN" type="ORL_O34.SPECIMEN.CONTENT" />
  <xsd:complexType name="ORL_O34.PATIENT.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" ref="PID" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="ORL_O34.SPECIMEN" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.PATIENT" type="ORL_O34.PATIENT.CONTENT" />
  <xsd:complexType name="ORL_O34.RESPONSE.CONTENT">
    <xsd:sequence>
      <xsd:element maxOccurs="1" ref="ORL_O34.PATIENT" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34.RESPONSE" type="ORL_O34.RESPONSE.CONTENT" />
  <xsd:complexType name="ORL_O34.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" ref="MSH" />
      <xsd:element minOccurs="1" maxOccurs="1" ref="MSA" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ERR" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="ORL_O34.RESPONSE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ORL_O34" type="ORL_O34.CONTENT">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <top xmlns="urn:com.sun:encoder">true</top>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>