LisServiceClients/Nomenclature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:m="http://www.bars-open.ru/med/lis/" targetNamespace="http://www.bars-open.ru/med/lis/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://www.bars-open.ru/med/lis/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="sendNomenclatureRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Nomenclature" type="m:Nomenclature" minOccurs="1" maxOccurs="unbounded">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendNomenclatureResponse">
        <xs:annotation>
          <xs:documentation>Результат</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="accepted">
                    <xs:annotation>
                      <xs:documentation>Сообщение обработано</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="rejected">
                    <xs:annotation>
                      <xs:documentation>Сообщение отклонено</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="error_code" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
              <xs:annotation>
                <xs:documentation>Код ошибки, в случае ошибки</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Nomenclature">
        <xs:annotation>
          <xs:documentation>Позиция номенклатуры</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="code_lpu" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Код ЛПУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="code_ta" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Код анализа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="name_ta" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Наименование анализа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="is_group" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Признак группы</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="parent_ta" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Код родителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="action" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                Действие с данными
                1 – Добавление
                2 – Исправление
                3 – Удаление
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="is_comp" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Комплект услуг</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="is_calc" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Расчетный показатель</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="is_micro" nillable="false" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Микробиология</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="is_sens" type="xs:int" minOccurs="1" maxOccurs="1" nillable="true">
          </xs:element>
          <xs:element name="test" type="m:Test" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по тестам в анализе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="mc" type="m:MC" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по тестам в анализе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bio" type="m:Bio" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по тестам в анализе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="locus" type="m:Locus" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по тестам в анализе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Test">
        <xs:annotation>
          <xs:documentation>Исследование: состав комплекта</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="research_code" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
          <xs:element name="research_name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bio">
        <xs:annotation>
          <xs:documentation>Биоматериалы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="bio_code" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
          <xs:element name="bio_name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Locus">
        <xs:annotation>
          <xs:documentation>Локусы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="loc_code" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
          <xs:element name="loc_name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MC">
        <xs:annotation>
          <xs:documentation>Доп. параметр анализа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="mc_code" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
          <xs:element name="mc_name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
          <xs:element name="mc_type" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>
                1 – строка
                2 – число
                3 – дата
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="mc_size" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="sendNomenclatureRequest">
    <part name="parameter" element="m:sendNomenclatureRequest"/>
  </message>
  <message name="sendNomenclatureResponse">
    <part name="parameter" element="m:sendNomenclatureResponse"/>
  </message>
  <portType name="sLisBarsSendNomenclature">
    <operation name="sendNomenclature">
      <input message="m:sendNomenclatureRequest"/>
      <output message="m:sendNomenclatureResponse"/>
    </operation>
  </portType>
  <binding name="sLisBarsSNBinding" type="m:sLisBarsSendNomenclature">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sendNomenclature">
      <soap:operation soapAction="sendNomenclature" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NomService">
    <port name="sLisBarsSendNomenclature" binding="m:sLisBarsSNBinding">
      <soap:address location="http://10.31.6.59/demo/webservice/Lis1C/Nomenclature"/>
    </port>
  </service>
</definitions>